<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liulingfengyu.actuator.mapper.SchedulingLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.liulingfengyu.actuator.entity.SchedulingLog">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="app_name" property="appName"/>
        <result column="task_param" property="taskParam"/>
        <result column="done" property="done"/>
        <result column="response_result" property="responseResult"/>
        <result column="create_time" property="createTime"/>
        <result column="tenant_id" property="tenantId"/>
    </resultMap>


</mapper>
